@media screen and (max-width: 479px) {
    .desktop-NavBtn{
        display: none;
    }
    .downloadbtn{
        display: none;
    }
    .header {
        padding-top:0.6rem;
        padding-bottom: 0.6rem;
    }
    .mobile-NavBtn{
        display: block;
    }
}